/* Define Basic Configurations */

@font-face {
    font-family: "Days One";
    src: url("../Fonts/Types/Days_One/DaysOne-Regular.woff2") format("woff2"),
    url("../Fonts/Types/Days_One/DaysOne-Regular.woff") format("woff"),
    url("../Fonts/Types/Days_One/DaysOne-Regular.ttf") format("truetype"),
    ;
}
@font-face {
    font-family: "Chakra Petch";
    src: url("../Fonts/Types/Chakra_Petch/ChakraPetch-Regular.woff2") format("woff2") ,
    url("../Fonts/Types/Chakra_Petch/ChakraPetch-Regular.woff") format("woff"),
    url("../Fonts/Types/Chakra_Petch/ChakraPetch-Regular.ttf") format("truetype"),
    ;
}

:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-half-rem: 1.5rem;
    --two-rem: 2rem;
    --two_half-rem: 2.5rem;
    --three-rem: 3rem;
    --fz-14: 14px;
    --fz-12: 12px;
    --fz-16: 16px;
    --fz-20: 20px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fz-40: 40px;
    --fz-48: 48px;
    --fz-60: 60px;
    --fw-400: 400;
    --fw-700: 700;
    --main-f-family: "Days One", sans-serif;
    --sec-f-family: "Chakra Petch", sans-serif;
    --main-color: #0B0E13;
    --sec-color: #0E141E;
    --th-color: #000000;
    --freq-color: rgb(203, 254, 28);
    --sign-in-color:  #A4CE1A;
    --main-section-f-color: oklch(0.872 0.01 258.338);
    --sections-name-f-color: rgb(241, 241, 241);
    --freq-small-f-color: oklch(0.707 0.022 261.325);
}



/* End of Basic Configurations */



/* Main Classes */

.main-font{
    font-family: var(--main-f-family);
}

.sec-font{
    font-family: var(--sec-f-family);
}

/* End of Main Classes */


/* Main NavBar */


.main-nav-bar{
    background-color: var(--main-color);
    --bs-navbar-active-color: var(--freq-color);
    --bs-navbar-nav-link-padding-x: var(--one-rem);
    --bs-navbar-brand-font-size: var(--fz-20);
    --bs-navbar-brand-color: var(--freq-color);
    --bs-navbar-padding-y: var(--one-rem);
    --bs-navbar-brand-hover-color: var(--freq-color);
    --bs-navbar-color: var(--main-section-f-color);

}

.navbar-brand{
    font-weight: var(--fw-700);
}


.main-nav-bar .navbar-nav{
    --bs-nav-link-color: var(--main-section-f-color);
    --bs-nav-link-hover-color: var(--freq-color);  
    --bs-nav-link-font-weight: var(--fw-400);
    --bs-nav-link-font-size: var(--fz-16)
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.icon1{
    color: var(--freq-color);
}

.bell{
    color:white;
}

.bell:hover{
    color: var(--freq-color);
}



.message{
    color:white;
}

.message:hover{
    color: var(--freq-color);
}

.messages{
    color: var(--main-section-f-color);
    transition: color 0.3s;
}

.messages:hover{
    color: var(--freq-color);
}



.notify{
    color: var(--main-section-f-color);
    transition: color 0.3s;
}

.notify:hover{
    color: var(--freq-color);
}



.sign-in-button{
    --bs-btn-font-size: var(--fz-16);
    --bs-btn-font-weight: var(--fw-700);
    --bs-btn-font-family: var(--sec-f-family);
    --bs-btn-color: var(--main-color);
    --bs-btn-bg: var(--freq-color);
    --bs-btn-border-color: var(--freq-color);
    --bs-btn-hover-color: var(--main-color);
    --bs-btn-hover-bg: var(--sign-in-color);
    --bs-btn-hover-border-color: var(--sign-in-color);
    --bs-btn-padding-x: var(--two-rem);
    transition: all 0.3s;
}



/* End of Main NavBar */


/* Header */

.sec-1{
    background-image: url("../Needs/Icons/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-block: 48px;
}


.sec-1::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.title{
    font-size: var(--fz-40);
    color: var(--sections-name-f-color);
    font-family: var(--main-f-family);
    
}

.gaming{
    color: var(--freq-color);
}


.title + p{
    color: var(--main-section-f-color);
    font-family: var(--sec-f-family);
    font-size: var(--fz-16);
}

.watch{
    background-color: transparent;
    color: var(--freq-color);
}


.watch:hover{
    background-color: #CBFE1C;
}

.hero-img {
  height: 256px;
}

.border{
    --bs-border-color: var(--freq-color)
}


/* End Of Header */



/* Section 2 */


.sec-2{
    background-color: #0B0E13;
}

.do{
    color: var(--freq-color);
    font-family: var(--sec-f-family);
    letter-spacing: 0.25rem;
}


.do::before{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to right, #121713, #CBFE1C);
    display: inline-block;
}

.do::after{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to left, #121713, #CBFE1C);
    display: inline-block;

}
.sec-2-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-24);
}


.sec-2-p{
    color: var(--sections-name-f-color);
    font-size: var(--fz-24);
    font-family: var(--sec-f-family);
}


#latesGames .carousel-control-prev {
    left: 27%;
    top: 100%;
    bottom: -30%;
}

#latesGames .carousel-control-next {
    left: 40%;
    top: 100%;
    bottom: -30%;
}



#latesGames .view{
    position: absolute;
    
    bottom: -22%;
}

#latesGames .carousel-photo img{
    transition: transform 0.5s;
}


#latesGames .carousel-photo:hover img{
    transform: scale(1.1);
}



#latesGames .carousel-photo {
    cursor: pointer;
    transition: border 0.5s;
}


#latesGames .carousel-photo:hover {
    border: solid 3px var(--freq-color);
}

.carousel-photo-layer-1 {
    top: 20px;
    left: 20px;
    transition: 0.3s ease;

}

.carousel-photo-layer-2 {
    bottom: 20px;
    left: 20px;
    transition: 0.3s ease;
}




/* End Of Section 2 */




/* Section 3 */


.sec-3{
    background-color: #0B0E13;
}

.do{
    color: var(--freq-color);
    font-family: var(--sec-f-family);
    letter-spacing: 0.25rem;
}


.do::before{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to right, #121713, #CBFE1C);
    display: inline-block;
}

.do::after{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to left, #121713, #CBFE1C);
    display: inline-block;

}
.sec-3-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-24);
}

.interactive{
    color: var(--freq-color);
}

.sec-3-p{
    color: var(--sections-name-f-color);
    font-size: var(--fz-24);
    font-family: var(--sec-f-family);
}

.do1{
    height: 300px;
    width: 300px;

}

.sec-3-card {
    height: 300px;
    width: 300px;
    background-color: #1A1A1A;
    border: 2px solid #151C26;
}


.sec-3-card::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  border-top: 20px solid #CBFE1C;
  border-right: 20px solid transparent;
  transition: transform 0.4s;
}

.sec-3-card::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: -15px;
    border-bottom: 20px solid #CBFE1C;
    border-left: 20px solid transparent;
    transition: transform 0.4s;
}




.sec-3-card:hover::before {
    
  transform: translate(30px,30px);
  
  
}

.sec-3-card:hover::after {
    
    transform: translate(-30px,-30px);
  
}


.sec-3-card:hover{
    border: 2px solid var(--freq-color);

}

.sec-3-icon-div{
    background-color: #1e2939;
    transition: background-color 0.4s;
}

.sec-3-card:hover .sec-3-icon-div{
    background-color: var(--freq-color);
}
.sec-3-card:hover .sec-3-icon{
    color: var(--main-color);
}

.sec-3-icon{
    color: var(--freq-color);
    transition: background-color 0.4s;
    font-size: var(--fz-20);
}

.icon-word{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
}

.h-line::before{
    content: "";
    height: 2.5px;
    width: 42%;
    background:  linear-gradient(to right, #121713,#CBFE1C);
    box-shadow: 0 0 8px #CBFE1C;
    display: inline-block;
}

.h-line::after{
    content: "";
    height: 2.5px;
    width: 42%;
    box-shadow: 0 0 8px #CBFE1C;
    background:  linear-gradient(to left, #121713,#CBFE1C);
    display: inline-block;
}







.slider {
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
}

.slide-track, .slide-track2 {
  display: flex;
  width: max-content;
}

.slide1 {
  flex: 0 0 auto;
  width: 100px;
  margin-right: 20px;
}

.slide1 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slide-track {
  animation: scroll-left 20s linear infinite;
}

.slide-track2 {
  animation: scroll-right 20s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); } 
}





/* End Of Section 3 */


/* Section 5 */




.sec-5{
    background-color: #0B0E13;
}

.do{
    color: var(--freq-color);
    font-family: var(--sec-f-family);
    letter-spacing: 0.25rem;
}


.do::before{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to right, #121713, #CBFE1C);
    display: inline-block;
}

.do::after{
    content: "";
    height: 2px;
    width: 70px;
    background:  linear-gradient(to left, #121713, #CBFE1C);
    display: inline-block;

}
.sec-5-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-24);
}

.interactive{
    color: var(--freq-color);
}

.sec-5-p{
    color: var(--freq-small-f-color);
    font-family: var(--sec-f-family);
}



.do2 {
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.do2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 35, 35, 0.01);
  backdrop-filter: grayscale(100%);
  transition: transform 0.6s ease-in-out;
  transform: translateY(0);
}

.do2:hover .overlay {
  transform: translateY(-100%);
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 10;
  text-align: left;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}


.side-text {
  transform:  rotate(90deg);
  z-index: 10;
  color: var(--freq-color);
}


.main-p{
    font-family: var(--main-f-family);
}


.sub-p{
    font-family: var(--sec-f-family);
    font-size: var(--fz-14);
    color: var(--freq-color);
}



.sub-sub-p{
    font-family: var(--sec-f-family);
    font-size: var(--fz-12);
    color: var(--freq-small-f-color);
}







/* End Of Section 5 */







/* Last Section */

.last-sec{
    font-family: var(--sec-f-family);
}

.last-sec .special{
    color: var(--freq-small-f-color);
}

.game{
    color: var(--freq-color);
}

.icon2{
    color: var(--freq-small-f-color);
    transition: color 0.3s;
}

.icon2:hover{
    color: var(--freq-color);
}


.last-sec h3{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
}




/* End Of Last Section */
















/* Media Queries If Exists */


@media (min-width: 576px) {
  .hero-img {
    height: 320px;
  }
}

@media (min-width: 768px) {
.sec-3-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-36);
}

.interactive{
    color: var(--freq-color);
}

.sec-3-p{
    color: var(--sections-name-f-color);
    font-size: var(--fz-36);
    font-family: var(--sec-f-family);
}


  .hero-img {
    height: 384px;
  }
}





@media (min-width: 992px) {



    

.sec-2-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-48);
}






.sec-3-title{
    font-family: var(--main-f-family);
    color: var(--sections-name-f-color);
    font-size: var(--fz-48);
}

.interactive{
    color: var(--freq-color);
}

.sec-3-p{
    color: var(--sections-name-f-color);
    font-size: var(--fz-48);
    font-family: var(--sec-f-family);
}



    .sec-1{
    background-image: url("../Needs/Icons/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

    .title{
    font-size: var(--fz-60);
    color: var(--sections-name-f-color);
    font-family: var(--main-f-family);
    }
    
  .border-lg-0 {
    border: none !important;
  }
}


/* End of Media Queries */