/* Define Basic Configurations */


:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-half-rem: 1.5rem;
    --two-rem: 2rem;
    --two_half-rem: 2.5rem;
    --three-rem: 3rem;
    --v-12px: 12px;
    --v-15px: 15px;
    --v-20px: 20px;
    --v-22px: 22px;
    --v-24px: 24px;
    --fz-10: 10px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-32: 32px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fz-40: 40px;
    --fz-48: 48px;
    --fz-60: 60px;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --main-color:oklch(0.21 0.034 264.665);
    --sec-color: oklch(0.446 0.03 256.802);
}

body{
    font-family: system-ui, sans-serif;
}


/* End of Basic Configurations */


/* navBar */

h1{
    color: var(--main-color);
    font-size: var(--fz-18);
}

.fa-utensils {
    background: linear-gradient(to right, #FF5E00,#FE4526);
    width: 15px;
    height: 15px;
    box-shadow: 0 5px 10px -7px gray;
}

.h1-p{
    color:oklch(0.551 0.027 264.364);
    font-size: var(--fz-12);
}


.navbar {
    --bs-navbar-padding-y: var(--one-rem);
    --bs-navbar-toggler-focus-width: 0;
    border: 2px #EBE8D9 solid;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


.bg-body-tertiary {
    background-color: white!important;
}

.icons{
    color:#4A5565;
    font-size: var(--fz-20);
    cursor: pointer;
    transition: all 0.2s ease;
}
.icons:hover{
    color:#F54A00;
}

.nav-img{
    width: 30px;
    height: 30px;
    border: 3px #FFB86A solid;
    cursor: pointer
}

.icons-name{
    font-size: var(--fz-16);
}

.icons-list{
    border-top: 2px solid #FFF6EA;
}


.navbar-toggler {
    --bs-navbar-color: #4A5565;
    --bs-border-width: 0;
}



.navbar-toggler-icon {    
transition: all 0.2s ease;
}

.navbar-toggler:hover {
--bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F54A00' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

}


body{

    background-color: #FFF9EC;
}




/* End Of navBar */

/* Main Card */


.food-card{
    height: auto;
    border: 2px #FFF3DF solid;
    box-shadow: 0 5px 10px -7px gray;
}

.food-img{
    border-top-left-radius: var(--one-rem);
    border-top-right-radius: var(--one-rem);
    width: 100%;
}

.fa-star{
    color: #FDC700;
}

.rate-num{
    color:oklch(0.21 0.034 264.665);
    font-size: var(--fz-14);
}

.reviews{
    font-size: var(--fz-12);
    color: oklch(0.551 0.027 264.364);
}

.rating-info {
    z-index: 1;
    top: 20px;
    left: 45px;
}

.food-making-info p{
    font-size: var(--fz-10);
    color: oklch(0.551 0.027 264.364);
}

.food-making-info h4{
    font-size: var(--fz-12);
    color:oklch(0.21 0.034 264.665)
}


.food-making-info .fa-clock{
    color: #FF6900;
    font-size: var(--fz-16);
}


.food-making-info .fa-fire-burner{
    font-size: var(--fz-16);
    color: #FB2C36;
}


.food-making-info .fa-users{
    color: #2B7FFF;
    font-size: var(--fz-16);
}


.food-making-info{
    z-index: 1;
    bottom: 20px;
    left: 45px;
    right: 45px;
}

.adjust-photo-height{
    height: 400px;
}

.food-card-details {
  overflow-y: hidden;
}

.green-bg{
    background-color: #DBFCE7;
    color: oklch(0.527 0.154 150.069);
}

.blue-bg{
    background-color: #DBEAFE;
    color: oklch(0.488 0.243 264.376);
}

.blue-bg,
.green-bg{
    font-size: var(--fz-12);
}

.food-name{
    font-size: var(--fz-24);
    color: oklch(0.21 0.034 264.665);
}

.main-card .fa-bookmark,
.main-card .fa-share-nodes
{
    background-color: #FFEDD4;
    color: #F54A00;
    cursor: pointer;
   transition: all 0.2s ease;
}

.main-card .fa-bookmark:hover
,
.main-card .fa-share-nodes:hover{
    background-color: #FFD7A8;
}


.food-des{
    color: oklch(0.446 0.03 256.802);
    font-size: var(--fz-14);
}

.warning-note{
    background-color: #FEF2F2;
    border-left: 4px solid #FB2C36;

}

.fa-triangle-exclamation{
    color: #FB2C36;
    font-size: var(--fz-18);
}

.warning-note h3{
    color: oklch(0.444 0.177 26.899);
    font-size: var(--fz-14);
}




.warning-note p{
    color: oklch(0.577 0.245 27.325);
    font-size: var(--fz-10);
}





.nav-and-tabs .nav-tabs {
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-link-hover-border-color: transparent;
    --bs-nav-tabs-link-active-color: #F54A00;
}


.nav-and-tabs .nav {
    --bs-nav-link-padding-x: var(--v-22px);
    --bs-nav-link-font-weight: var(--fw-600);
    --bs-nav-link-color: #6A7282;
    --bs-nav-link-hover-color: oklch(0.373 0.034 259.733);
}




.nav-and-tabs .nav-tabs .nav-link {
    --bs-nav-link-font-size: var(--fz-16);
    position: relative;
    transition: 0.3s all ease;
    --bs-nav-link-padding-x:0;
}

.nav-and-tabs .nav-tabs .nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    background-color: #F54A00;
    transition: all 0.3s ease;
}
.nav-and-tabs .nav-tabs .nav-link.active::after{
    width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    --bs-nav-tabs-link-active-border-color: transparent;
}



.Chef-Tips-content{
    background-color: #FFFBEB;
    border-left: #FFB900 4px solid;
}


.Chef-Tips-content .fa-circle-check{
    color: #E17100;
    font-size: var(--fz-18);
}

.Chef-Tips-content-p{
    color: oklch(0.373 0.034 259.733);
    font-size: var(--fz-10);
}


.tab-pane{
    height: 380px;
}

.food-card .btn {
    --bs-btn-font-size: var(--fz-12);
    --bs-btn-font-weight: var(--fw-600);
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white
}




.food-card .btn-Recipe {
    background: linear-gradient(to right, #FF6800,#FB3035) !important;
    transition: all 0.3s ease
}

.food-card .btn-Recipe:hover {
    background: linear-gradient(to right, #F54800,#E80009) !important;
    transform: scale(1.05);
    
}





#Nutrition-tab-pane {
overflow-y: scroll;
overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #fdd9d9 transparent;
}

#Nutrition-tab-pane::-webkit-scrollbar {
  width: 2px;
}

#Nutrition-tab-pane::-webkit-scrollbar-track {
  background: transparent;
}

#Nutrition-tab-pane::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.3s all ease;
}

#Nutrition-tab-pane::-webkit-scrollbar-thumb:hover {
  background: rgb(180,102,83);
}



.Nutrition-item{
    background-color: #F9FAFB;
}



.Nutrition-item .icon-adjustment {
    padding-inline: var(--v-20px);
    padding-block: var(--v-12px)
}

.Nutrition-item .fa-fire {
    background-color: #FFEDD4;
    color: #F54A00;
}


.Nutrition-item .fa-dumbbell {
    background-color: #DBEAFE;
    color: #155DFC;
}


.Nutrition-item .fa-wheat-awn {
    background-color: #FEF9C2;
    color: #D08700;
}


.Nutrition-item .fa-droplet {
    background-color: #FFE2E2;
    color: #E7000B;
}


.Nutrition-item .fa-seedling {
    background-color: #DBFCE7;
    color: #00A63E;
}


.Nutrition-item .fa-cube {
    background-color: #FCE7F3;
    color: #E60076;
}


.Nutrition-item .Nutrition-item-name{
    color: oklch(0.373 0.034 259.733);
    font-weight: var(--fw-600);
    font-size: var(--fz-14);
}

.Nutrition-item .Nutrition-item-quantity{
    color: oklch(0.21 0.034 264.665);
    font-weight: var(--fw-700);
    font-size: var(--fz-14);
}



.Instructions-item-n{
    font-size: var(--fz-20);
    background-color: #FF6900;
    padding-block: 6px;
    padding-inline: 14px;
}


.Instructions-item-p{
    font-size: var(--fz-10);
    color: oklch(0.373 0.034 259.733);
}


#Instructions-tab-pane {
  scrollbar-width: thin;
  scrollbar-color: #fdd9d9 transparent;
}

#Instructions-tab-pane::-webkit-scrollbar {
  width: 2px;
}

#Instructions-tab-pane::-webkit-scrollbar-track {
  background: transparent;
}

#Instructions-tab-pane::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.3s all ease;
}

#Instructions-tab-pane::-webkit-scrollbar-thumb:hover {
  background: rgb(180,102,83);
}



#Ingredients-tab-pane{
    background: linear-gradient(to right, #FFF7ED, #FFFAEB);
}



.Ingredients-item-n{
    font-size: var(--fz-12);
    background-color: #FF6900;
    width: 20px;
    height: 20px;
}


.Ingredients-item-p{
    font-size: var(--fz-16);
    color: oklch(0.373 0.034 259.733);
}






/* End Of Main Card */






/* Media Queries If Exists */


@media (min-width: 576px) {


.nav-and-tabs .nav-tabs .nav-link {
    --bs-nav-link-padding-x: var(--v-22px);
}



.food-card .btn {
    --bs-btn-font-size: var(--one-rem);}


.Chef-Tips-content-p{
    font-size: var(--fz-12);
}



.Instructions-item-n{
    padding-block: var(--v-12px);
    padding-inline: var(--v-20px);
}



.Instructions-item-p{
    font-size: var(--fz-14);
}



.Nutrition-item .Nutrition-item-quantity{
    font-size: var(--fz-16);
}

.Nutrition-item .Nutrition-item-name{
    font-size: var(--fz-16);
}





#Nutrition-tab-pane {
overflow-y: hidden;
overflow-x: hidden;

}




    h1{
    font-size: var(--fz-20);
}


.h1-p{
    font-size: var(--fz-14);
}



.food-making-info p{
    font-size: var(--fz-12);
}

.food-making-info h4{
    font-size: var(--fz-14);
}


.food-making-info .fa-clock{
    font-size: var(--fz-18);
}


.food-making-info .fa-fire-burner{
    font-size: var(--fz-18);
}


.food-making-info .fa-users{
    font-size: var(--fz-18);
}





}

@media (min-width: 768px) {



.warning-note h3{
    font-size: var(--fz-14);
}




.warning-note p{
    font-size: var(--fz-12);
}



.Chef-Tips-content-p{
    font-size: var(--fz-14);
}


    
h1{
    font-size: var(--fz-24);
}


    .icons-list{
    border-top: 0;
}

.nav-img{
    width: 45px;
    height: 45px;
}

.rate-num{
    font-size: var(--fz-16);
}

.reviews{
    font-size: var(--fz-14);
}

    
.food-making-info p{
    font-size: var(--fz-14);
}

.food-making-info h4{
    font-size: var(--fz-16);
}


.food-making-info .fa-clock{
    font-size: var(--fz-20);
}


.food-making-info .fa-fire-burner{
    font-size: var(--fz-20);
}


.food-making-info .fa-users{
    font-size: var(--fz-20);
}


    .food-name{
    font-size: var(--fz-30);
}





}

@media (min-width: 992px) {

.Chef-Tips-content-p{
    font-size: var(--fz-16);
}


    
.food-card-details {
    overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fdd9d9 transparent;
}

.food-card-details::-webkit-scrollbar {
  width: 2px;
}

.food-card-details::-webkit-scrollbar-track {
  background: transparent;
}

.food-card-details::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.3s all ease;
}

.food-card-details::-webkit-scrollbar-thumb:hover {
  background: rgb(180,102,83);
}


    
.Instructions-item-p{
    font-size: var(--fz-14);
}



    .Nutrition-item .Nutrition-item-name{

    font-size: var(--fz-14);
}

.Nutrition-item .Nutrition-item-quantity{
   
    font-size: var(--fz-18);
}





    .fa-triangle-exclamation{
    font-size: var(--fz-16);
}



    .food-name{
    font-size: var(--fz-32);
}


.food-des{
    font-size: var(--fz-16);
}


    .food-card{
    height: 750px;}


    .food-img{
    border-top-left-radius: var(--one-rem);
    border-bottom-left-radius: var(--one-rem);
    border-top-right-radius: 0;

}

    
.adjust-photo-height{
    height: 100% !important;
}

}

@media (min-width: 1200px) {

        
.Instructions-item-p{
    font-size: var(--fz-16);
}



        .Nutrition-item .Nutrition-item-name{

    font-size: var(--fz-16);
}

.Nutrition-item .Nutrition-item-quantity{
   
    font-size: var(--fz-20);
}



    .fa-triangle-exclamation{
    font-size: var(--fz-18);
}

.warning-note h3{
    font-size: var(--fz-16);
}




.warning-note p{
    font-size: var(--fz-14);
}





        .food-name{
    font-size: var(--fz-36);
}


.food-des{
    font-size: var(--fz-18);
}



}

@media (min-width: 1400px) {
    
}

